:root, [data-bs-theme=light] {
  --bs-primary: #6499cd;
  --bs-primary-rgb: 100,153,205;
  --bs-primary-text-emphasis: #283D52;
  --bs-primary-bg-subtle: #E0EBF5;
  --bs-primary-border-subtle: #C1D6EB;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #6499cd;
  --bs-btn-border-color: #6499cd;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #7BA8D5;
  --bs-btn-hover-border-color: #74A3D2;
  --bs-btn-focus-shadow-rgb: 15,23,31;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #83ADD7;
  --bs-btn-active-border-color: #74A3D2;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #6499cd;
  --bs-btn-disabled-border-color: #6499cd;
}

.btn-outline-primary {
  --bs-btn-color: #6499cd;
  --bs-btn-border-color: #6499cd;
  --bs-btn-focus-shadow-rgb: 100,153,205;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #6499cd;
  --bs-btn-hover-border-color: #6499cd;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #6499cd;
  --bs-btn-active-border-color: #6499cd;
  --bs-btn-disabled-color: #6499cd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6499cd;
}

[data-bs-theme=dark] {
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222,226,230;
  --bs-secondary-color: rgba(222,226,230,0.75);
  --bs-secondary-color-rgb: 222,226,230,0.75;
  --bs-tertiary-color: rgba(222,226,230,0.5);
  --bs-tertiary-color-rgb: 222,226,230,0.5;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33,37,41;
}

